
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-12">
        <div class="card" *ngIf="addNewFlag==false && editFlag == false">
          <div class="card-header">
            <!-- <div class="row"> -->
              <div class="col-md-5" style="float: left;">
                <h4 class="card-title">Customer Profile Rules</h4>
              </div>
              <div class="col-md-4">
              </div>
             <div class="col-md-3">
              
             <!-- </div> -->
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4">
              <h5 style="color: rgba(40, 53, 243, 0.651);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rules count: {{recomLength}}</h5><br>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center">
                <input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    placeholder="Search Zone ..."
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                />
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" (click)="addNew()">
                <i data-feather="plus" class="me-25"></i>
                <span>Add New</span>
              </button>
            </div>
            
          </div>
          <br>
          <div class="card-body" *ngIf="recommendationData == ''"> 
              <h6 style="color: red;">Rules data not avaliable</h6>
            </div>
          
            <div class="table-responsive" *ngIf="recommendationData != ''">
              <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Customer Type</th>
                        <th>Customer History</th>
                        <th>Zone</th>
                        <th>Address</th>
                        <th>> Address Length</th>
                        <th>Pincode Performance</th>
                        <th>> Pincode Performance</th>
                        <th>< Pincode Performance</th>
                        <th>Order History</th>
                        <th>> Order History</th>
                        <th>PayType</th>
                        <th>Order Status</th>
                        <th>> Order Status</th>
                        <th>< Order Status</th>
                        <th>Delivery Possibility</th>
                        <th>Flag</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of recommendationData">
                        <td>{{data.customer_type}}</td>
                        <td>{{data.customer_history}}</td>
                        <td>{{data.zone}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.address_length}}</td>
                        <td>{{data.pincode_performance}}</td>
                        <td>{{data.pincode_greater}}</td>
                        <td>{{data.pincode_less}}</td>
                        <td>{{data.order_history}}</td>
                        <td>{{data.order_history_greater}}</td>
                        <td>{{data.pay_type}}</td>
                        <td>{{data.order_status}}</td>
                        <td>{{data.status_greater}}</td>
                        <td>{{data.status_less}}</td>
                        <td>{{data.delivery_possibility}}</td>
                        <td>{{data.flag}}</td>

                        <td>
                          
                          <div ngbDropdown class="fullwidth" >
                            <button type="button" class="btn btn-sm hide-arrow py-0" id="dropdownBasic1" ngbDropdownToggle>
                              <i data-feather="more-vertical"></i>
                            </button>
                            <div ngbDropdownMenu dropdown-menu-end>
                              <a class="dropdown-item" (click)="edit(data._id)">
                                <i data-feather="edit-2" class="me-50"></i>
                                <span>Edit</span>
                            </a>
          
                            <a class="dropdown-item" (click)="deleteConfirmation(content)">
                              <i data-feather="trash" class="me-50"></i>
                              <span>Delete</span>
                          </a>
                          <ng-template #content let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" style="color: #FF9F43;">Warning</h4>
                              <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
                            </div>
                            <div class="modal-body">
                              <p>Do you want to delete this record?&hellip;</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" (click)="delete(data._id);modal.close('Close click')">Yes</button>
                              <button type="button" class="btn btn-info" (click)="modal.close('Close click')">No</button>
                            </div>
                          </ng-template>
                            </div>
                          </div>
                            <!-- <div class="dropdown">
                                <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0" data-bs-toggle="dropdown">
                                    <i data-feather="more-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">
                                        <i data-feather="edit-2" class="me-50"></i>
                                        <span>Edit</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i data-feather="trash" class="me-50"></i>
                                        <span>Delete</span>
                                    </a>
                                </div>
                            </div> -->
                        </td>
                    </tr>
                   
                </tbody>
            </table>
            <br><br>
            </div>
        </div>

        <div class="card" *ngIf="addNewFlag==true">
          <div class="card-header">
            <!-- <div class="row"> -->
              <div class="col-md-7" style="float: left;">
                <h4 class="card-title">Add Customer Profile Rules</h4>
              </div>
              <div class="col-md-2"></div>
             <div class="col-md-3" style="float: right;">
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="bookingForm">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Customer Type</label>
                  <div class="mb-1">
                    <select formControlName="typeCtrl" [(ngModel)]="customer_type" class="form-control" name="customer_type" id="customer_type" #mySelect (change)="selectType(mySelect.value)">
                      <option [value]="">Select Customer Type</option>
                      <option *ngFor="let type of customerTypes" [value]="type.customer_type_label">{{type.customer_type_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['typeCtrl'].invalid && (bookingForm.controls['typeCtrl'].dirty || bookingForm.controls['typeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['typeCtrl'].errors.required">
                    Please select customer type
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Customer History</label>
                  <div class="mb-1">
                    <select formControlName="historyCtrl" [(ngModel)]="customer_history" class="form-control" name="customer_history" id="customer_history" #mySelect1 (change)="selectHistory(mySelect1.value)">
                      <option value="">Select Customer History</option>
                      <option *ngFor="let history of customerHistory" [value]="history.customer_history_label">{{history.customer_history_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['historyCtrl'].invalid && (bookingForm.controls['historyCtrl'].dirty || bookingForm.controls['historyCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['historyCtrl'].errors.required">
                    Please select customer history
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Zone</label>
                    <div class="mb-1">
                      <select formControlName="zoneCtrl" [(ngModel)]="zone" class="form-control" name="zone" id="zone" #mySelect2 (change)="selectZone(mySelect2.value)">
                        <option value="">Select Zone</option>
                        <option *ngFor="let zone of zones" [value]="zone.zone_label">
                          {{zone.zone_label}}</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['zoneCtrl'].invalid && (bookingForm.controls['zoneCtrl'].dirty || bookingForm.controls['zoneCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['zoneCtrl'].errors.required">
                    Please select zone
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group" *ngIf="showAddressDropDown == true" >
                    <label class="form-label">Address</label>
                  <div class="mb-1">
                    <select formControlName="addressCtrl" [(ngModel)]="address" class="form-control" name="address" id="address" #mySelect3 (change)="selectAddress(mySelect3.value)">
                      <option value="">Select Address</option>
                      <option *ngFor="let add of addressMasters" [value]="add.address_label">
                        {{add.address_label}}</option>
                      <option value="length" *ngIf="mySelect.value == 'New'">Set Address Length</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['addressCtrl'].invalid && (bookingForm.controls['addressCtrl'].dirty || bookingForm.controls['addressCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['addressCtrl'].errors.required">
                      Please select address value
                  </div>
                </div> 
                  <div class="form-group" *ngIf="showInputGreaterAddress ==true">
                    <label class="form-label">Enter address length :</label>
                    <input type="number" class="form-control" formControlName="addressLengthCtrl" placeholder="Type here..." id="address_length" ngModel name="address_length" required>
                  </div>
                  <div *ngIf="bookingForm.controls['addressLengthCtrl'].invalid && (bookingForm.controls['addressLengthCtrl'].dirty || bookingForm.controls['addressLengthCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['addressLengthCtrl'].errors.required">
                      Please Enter address value
                  </div>
                </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Pincode Performance</label>
                    <div class="mb-1">
                      <select formControlName="pincodeCtrl" [(ngModel)]="pincode_performance" class="form-control" name="pincode_performance" id="pincode_performance" #mySelect4 (change)="selectPincode(mySelect4.value)">
                        <option value="">Select Pincode Performance</option>
                        <option *ngFor="let pin of pincodes" [value]="pin.pincode_label">
                          {{pin.pincode_label}}</option>
                        <option value="pincodePerformance" *ngIf="mySelect.value == 'New'">Set Greater and Less Performance</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['pincodeCtrl'].invalid && (bookingForm.controls['pincodeCtrl'].dirty || bookingForm.controls['pincodeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['pincodeCtrl'].errors.required">
                    Please select pincode performance
                  </div>
                </div> 
                  <div class="form-group" *ngIf="showInputPerformance == true">
                    <label class="form-label">Enter performance % is greater than:</label>
                    <input type="number" class="form-control" formControlName="pincodeGreaterCtrl" placeholder="Type here..." id="pincode_greater" ngModel name="pincode_greater" required>
                  </div>
                  <div class="form-group" *ngIf="showInputPerformance == true">
                    <label class="form-label">Enter performance % is less than :</label>
                    <input type="number" class="form-control" formControlName="pincodeLessCtrl" placeholder="Type here..." id="pincode_less" ngModel name="pincode_less" required>
                  </div>
                  <div *ngIf="bookingForm.controls['pincodeGreaterCtrl'].invalid && (bookingForm.controls['pincodeGreaterCtrl'].dirty || bookingForm.controls['pincodeGreaterCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['pincodeGreaterCtrl'].errors.required">
                    Please Enter pincode performance greater then
                  </div>
                </div>
                <div *ngIf="bookingForm.controls['pincodeLessCtrl'].invalid && (bookingForm.controls['pincodeLessCtrl'].dirty || bookingForm.controls['pincodeLessCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['pincodeLessCtrl'].errors.required">
                  Please Enter pincode performance less then
                </div>
              </div>
                  
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Order History</label>
                  <div class="mb-1">
                    <select formControlName="orderHistoryCtrl" [(ngModel)]="order_history" class="form-control" name="order_history" id="order_history" #mySelect5 (change)="selectOrderHistory(mySelect5.value)">
                      <option value="">Select OrderHistory</option>
                      <option *ngFor="let order of ordersHistory" [value]="order.order_history_label">
                        {{order.order_history_label}}</option>
                        <option value="orderHistoryGreater" *ngIf="mySelect.value == 'Repeat'">Set order history greater than and less then</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['orderHistoryCtrl'].invalid && (bookingForm.controls['orderHistoryCtrl'].dirty || bookingForm.controls['orderHistoryCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['orderHistoryCtrl'].errors.required">
                    Please select order history
                  </div>
                </div> 
                <div class="form-group" *ngIf="showInputGreaterOrderHistory == true">
                  <label class="form-label">Enter order history greater :</label>
                  <input type="number" class="form-control" formControlName="orderHistoryGreaterCtrl" placeholder="Type here..." id="order_history_greater" ngModel name="order_history_greater" required>
                </div>
                <div *ngIf="bookingForm.controls['orderHistoryGreaterCtrl'].invalid && (bookingForm.controls['orderHistoryGreaterCtrl'].dirty || bookingForm.controls['orderHistoryGreaterCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['orderHistoryGreaterCtrl'].errors.required">
                  Enter order history greater than value
                </div>
              </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Order status</label>
                  <div class="mb-1">
                    <select formControlName="orderStatusCtrl"  [(ngModel)]="order_status" class="form-control" name="order_status" id="order_status" #mySelect6 (change)="selectOrderStatus(mySelect6.value)">
                      <option value="">Select OrderStatus</option>
                      <option *ngFor="let status of ordersStatus" [value]="status.order_status_label">
                        {{status.order_status_label}}</option>
                        <option value="orderPercentage" *ngIf="mySelect.value == 'Repeat'">Set order status greater and less value</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['orderStatusCtrl'].invalid && (bookingForm.controls['orderStatusCtrl'].dirty || bookingForm.controls['orderStatusCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['orderStatusCtrl'].errors.required">
                    Please select order status
                  </div>
                </div> 
                <div class="form-group" *ngIf="showInputStatus == true">
                  <label class="form-label">Enter order status % is greater than:</label>
                  <input type="number" class="form-control" formControlName="statusGreaterCtrl" placeholder="Type here..." id="status_greater" ngModel name="status_greater" required>
                </div>
                <div class="form-group" *ngIf="showInputStatus == true">
                  <label class="form-label">Enter order status % is less than :</label>
                  <input type="number" class="form-control" formControlName="statusLessCtrl" placeholder="Type here..." id="status_less" ngModel name="status_less" required>
                </div>
                <div *ngIf="bookingForm.controls['statusGreaterCtrl'].invalid && (bookingForm.controls['statusGreaterCtrl'].dirty || bookingForm.controls['statusGreaterCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['statusGreaterCtrl'].errors.required">
                  Please Enter order status greater then
                </div>
              </div>
              <div *ngIf="bookingForm.controls['statusLessCtrl'].invalid && (bookingForm.controls['statusLessCtrl'].dirty || bookingForm.controls['statusLessCtrl'].touched)" class="alert alert-danger">
                <div *ngIf="bookingForm.controls['statusLessCtrl'].errors.required">
                Please Enter order status less then
              </div>
            </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Pay Type</label>
                  <div class="mb-1">
                    <select formControlName="paytypeCtrl" [(ngModel)]="pay_type" class="form-control" name="pay_type" id="pay_type" #mySelect7 (change)="selectPaytype(mySelect7.value)">
                      <option value="">Select Paytype</option>
                      <option *ngFor="let paytype of payTypes" [value]="paytype.pay_type_label">
                        {{paytype.pay_type_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['paytypeCtrl'].invalid && (bookingForm.controls['paytypeCtrl'].dirty || bookingForm.controls['paytypeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['paytypeCtrl'].errors.required">
                    Please select pay type
                  </div>
                </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Delivery Performance</label>
                    <div class="mb-1">
                      <select formControlName="deliveryCtrl" [(ngModel)]="delivery_possibility" class="form-control" name="delivery_possibility" id="delivery_possibility" #mySelect8 (change)="selectDelivery(mySelect8.value)">
                        <option value="">Select Delivery</option>
                        <option *ngFor="let delivery of deliverys" [value]="delivery.delivery_possibility_label">
                          {{delivery.delivery_possibility_label}}</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['deliveryCtrl'].invalid && (bookingForm.controls['deliveryCtrl'].dirty || bookingForm.controls['deliveryCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['deliveryCtrl'].errors.required">
                    Please select delivery performance
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Flag</label>
                  <div class="mb-1">
                    <select formControlName="flagCtrl" [(ngModel)]="flag" class="form-control" name="flag" id="flag" #mySelect9 (change)="selectFlag(mySelect9.value)">
                      <option value="">Select Flag</option>
                      <option *ngFor="let flag of flags" [value]="flag.flag_label">
                        {{flag.flag_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['flagCtrl'].invalid && (bookingForm.controls['flagCtrl'].dirty || bookingForm.controls['flagCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['flagCtrl'].errors.required">
                    Please select flag
                  </div>
                </div> 
                </div>
                <div class="col-md-3" style="padding-top: 25px;">
                  <button type="button" class="btn btn-success" (click)="Save()">
                    <i data-feather="plus" class="align-middle me-sm-25 me-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Save</span>
                  </button>
                </div>
                <div class="col-md-3" style="padding-top: 25px;">
                  <button type="button" class="btn btn-primary" (click)="Back()">
                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Back</span>
                  </button>
                </div>
              </div>
            </form>
           
          </div>
        </div>

        <div class="card" *ngIf="editFlag==true">
          <div class="card-header">
            <!-- <div class="row"> -->
              <div class="col-md-7" style="float: left;">
                <h4 class="card-title">Edit Customer Profile Rules</h4>
              </div>
              <div class="col-md-2"></div>
             <div class="col-md-3" style="float: right;">
              <!-- <button type="button" class="btn btn-primary" (click)="addNew()">
                <i data-feather="plus" class="me-25"></i>
                <span>Add New</span>
              </button> -->
             <!-- </div> -->
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="bookingForm">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Customer Type</label>
                  <div class="mb-1">
                    <select formControlName="typeCtrl" [(ngModel)]="type" class="form-control" name="type" id="type" #mySelect (change)="selectType(mySelect.value)">
                      <option value="">Select customer Type</option>
                      <option *ngFor="let type of customerTypes" [value]="type.customer_type_label">{{type.customer_type_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['typeCtrl'].invalid && (bookingForm.controls['typeCtrl'].dirty || bookingForm.controls['typeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['typeCtrl'].errors.required">
                    Please select customer type
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Customer History</label>
                  <div class="mb-1">
                    <select formControlName="historyCtrl" [(ngModel)]="customer_history" class="form-control" name="customer_history" id="customer_history" #mySelect1 (change)="selectHistory(mySelect1.value)">
                      <option value="">Select Customer History</option>
                      <option *ngFor="let history of customerHistory" [value]="history.customer_history_label">{{history.customer_history_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['historyCtrl'].invalid && (bookingForm.controls['historyCtrl'].dirty || bookingForm.controls['historyCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['historyCtrl'].errors.required">
                    Please select customer history
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Zone</label>
                    <div class="mb-1">
                      <select formControlName="zoneCtrl" [(ngModel)]="zone" class="form-control" name="zone" id="zone" #mySelect2 (change)="selectZone(mySelect2.value)">
                        <option value="">Select Zone</option>
                        <option *ngFor="let zone of zones" [value]="zone.zone_label">
                          {{zone.zone_label}}</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['zoneCtrl'].invalid && (bookingForm.controls['zoneCtrl'].dirty || bookingForm.controls['zoneCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['zoneCtrl'].errors.required">
                    Please select zone
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group" *ngIf="showAddressDropDown == true">
                    <label class="form-label">Address</label>
                  <div class="mb-1">
                    <select formControlName="addressCtrl" [(ngModel)]="address" class="form-control" name="address" id="address" #mySelect3 (change)="selectAddress(mySelect3.value)">
                      <option value="">Select Address</option>
                      <option *ngFor="let add of addressMasters" [value]="add.address_label">
                        {{add.address_label}}</option>
                      <option value="length" *ngIf="mySelect.value == 'New'">Set Address Length</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['addressCtrl'].invalid && (bookingForm.controls['addressCtrl'].dirty || bookingForm.controls['addressCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['addressCtrl'].errors.required">
                      Please select address value
                  </div>
                </div> 
                  <div class="form-group" *ngIf="showInputGreaterAddress ==true">
                    <label class="form-label">Enter address length :</label>
                    <input type="number" class="form-control" formControlName="addressLengthCtrl" placeholder="Type here..." id="address_length" [(ngModel)]=address_length name="address_length" required>
                  </div>
                  <div *ngIf="bookingForm.controls['addressLengthCtrl'].invalid && (bookingForm.controls['addressLengthCtrl'].dirty || bookingForm.controls['addressLengthCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['addressLengthCtrl'].errors.required">
                      Please Enter address value
                  </div>
                </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Pincode Performance</label>
                    <div class="mb-1">
                      <select formControlName="pincodeCtrl" [(ngModel)]="pincode_performance" class="form-control" name="pincode_performance" id="pincode_performance" #mySelect4 (change)="selectPincode(mySelect4.value)">
                        <option value="">Select Pincode Performance</option>
                        <option *ngFor="let pin of pincodes" [value]="pin.pincode_label">
                          {{pin.pincode_label}}</option>
                        <option value="pincodePerformance" *ngIf="mySelect.value == 'New'">Set Greater and Less Performance</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['pincodeCtrl'].invalid && (bookingForm.controls['pincodeCtrl'].dirty || bookingForm.controls['pincodeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['pincodeCtrl'].errors.required">
                    Please select pincode performance
                  </div>
                </div> 
                  <div class="form-group" *ngIf="showInputPerformance == true || mySelect.value == 'New'">
                    <label class="form-label">Enter performance % is greater than:</label>
                    <input type="number" class="form-control" formControlName="pincodeGreaterCtrl" placeholder="Type here..." id="pincode_greater" [(ngModel)] = pincode_greater name="pincode_greater" required>
                  </div>
                  <div class="form-group" *ngIf="showInputPerformance == true || mySelect.value == 'New'">
                    <label class="form-label">Enter performance % is less than :</label>
                    <input type="number" class="form-control" formControlName="pincodeLessCtrl" placeholder="Type here..." id="pincode_less" [(ngModel)] = pincode_less name="pincode_less" required>
                  </div>
                  <div *ngIf="bookingForm.controls['pincodeGreaterCtrl'].invalid && (bookingForm.controls['pincodeGreaterCtrl'].dirty || bookingForm.controls['pincodeGreaterCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['pincodeGreaterCtrl'].errors.required">
                    Please Enter pincode performance greater then
                  </div>
                </div>
                <div *ngIf="bookingForm.controls['pincodeLessCtrl'].invalid && (bookingForm.controls['pincodeLessCtrl'].dirty || bookingForm.controls['pincodeLessCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['pincodeLessCtrl'].errors.required">
                  Please Enter pincode performance less then
                </div>
              </div>
                  
                </div>
                <div class="col-md-3">
                  <div class="form-group" >
                    <label class="form-label">Order History</label>
                  <div class="mb-1">
                    <select formControlName="orderHistoryCtrl" [(ngModel)]="order_history" class="form-control" name="order_history" id="order_history" #mySelect5 (change)="selectOrderHistory(mySelect5.value)">
                      <option value="">Select OrderHistory</option>
                      <option *ngFor="let order of ordersHistory" [value]="order.order_history_label">
                        {{order.order_history_label}}</option>
                        <option value="orderHistoryGreater" *ngIf="mySelect.value == 'Repeat'">Set order history greater than and less then</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['orderHistoryCtrl'].invalid && (bookingForm.controls['orderHistoryCtrl'].dirty || bookingForm.controls['orderHistoryCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['orderHistoryCtrl'].errors.required">
                    Please select order history
                  </div>
                </div> 
                <div class="form-group" *ngIf="showInputGreaterOrderHistory == true || mySelect.value == 'Repeat'">
                  <label class="form-label">Enter order history greater :</label>
                  <input type="number" class="form-control" formControlName="orderHistoryGreaterCtrl" placeholder="Type here..." [(ngModel)] = order_history_greater id="order_history_greater" name="order_history_greater" required>
                </div>
                <div *ngIf="bookingForm.controls['orderHistoryGreaterCtrl'].invalid && (bookingForm.controls['orderHistoryGreaterCtrl'].dirty || bookingForm.controls['orderHistoryGreaterCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['orderHistoryGreaterCtrl'].errors.required">
                  Enter order history greater than value
                </div>
              </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Order status</label>
                  <div class="mb-1">
                    <select formControlName="orderStatusCtrl"  [(ngModel)]="order_status" class="form-control" name="order_status" id="order_status" #mySelect6 (change)="selectOrderStatus(mySelect6.value)">
                      <option value="">Select OrderStatus</option>
                      <option *ngFor="let status of ordersStatus" [value]="status.order_status_label">
                        {{status.order_status_label}}</option>
                        <option value="orderPercentage" *ngIf="mySelect.value == 'Repeat'">Set order status greater and less value</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['orderStatusCtrl'].invalid && (bookingForm.controls['orderStatusCtrl'].dirty || bookingForm.controls['orderStatusCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['orderStatusCtrl'].errors.required">
                    Please select order status
                  </div>
                </div> 
                <div class="form-group" *ngIf="showInputStatus == true || mySelect.value == 'Repeat'">
                  <label class="form-label">Enter order status % is greater than:</label>
                  <input type="number" class="form-control" formControlName="statusGreaterCtrl" placeholder="Type here..." id="status_greater" [(ngModel)] = status_greater name="status_greater" required>
                </div>
                <div class="form-group" *ngIf="showInputStatus == true || mySelect.value == 'Repeat'">
                  <label class="form-label">Enter order status % is less than :</label>
                  <input type="number" class="form-control" formControlName="statusLessCtrl" placeholder="Type here..." id="status_less" [(ngModel)] = status_less name="status_less" required>
                </div>
                <div *ngIf="bookingForm.controls['statusGreaterCtrl'].invalid && (bookingForm.controls['statusGreaterCtrl'].dirty || bookingForm.controls['statusGreaterCtrl'].touched)" class="alert alert-danger">
                  <div *ngIf="bookingForm.controls['statusGreaterCtrl'].errors.required">
                  Please Enter order status greater then
                </div>
              </div>
              <div *ngIf="bookingForm.controls['statusLessCtrl'].invalid && (bookingForm.controls['statusLessCtrl'].dirty || bookingForm.controls['statusLessCtrl'].touched)" class="alert alert-danger">
                <div *ngIf="bookingForm.controls['statusLessCtrl'].errors.required">
                Please Enter order status less then
              </div>
            </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Pay Type</label>
                  <div class="mb-1">
                    <select formControlName="paytypeCtrl" [(ngModel)]="pay_type" class="form-control" name="pay_type" id="pay_type" #mySelect7 (change)="selectPaytype(mySelect7.value)">
                      <option value="">Select Paytype</option>
                      <option *ngFor="let paytype of payTypes" [value]="paytype.pay_type_label">
                        {{paytype.pay_type_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['paytypeCtrl'].invalid && (bookingForm.controls['paytypeCtrl'].dirty || bookingForm.controls['paytypeCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['paytypeCtrl'].errors.required">
                    Please select pay type
                  </div>
                </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Delivery Performance</label>
                    <div class="mb-1">
                      <select formControlName="deliveryCtrl" [(ngModel)]="delivery_possibility" class="form-control" name="delivery_possibility" id="delivery_possibility" #mySelect8 (change)="selectDelivery(mySelect8.value)">
                        <option value="">Select Delivery</option>
                        <option *ngFor="let delivery of deliverys" [value]="delivery.delivery_possibility_label">
                          {{delivery.delivery_possibility_label}}</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="bookingForm.controls['deliveryCtrl'].invalid && (bookingForm.controls['deliveryCtrl'].dirty || bookingForm.controls['deliveryCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['deliveryCtrl'].errors.required">
                    Please select delivery performance
                  </div>
                </div> 
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Flag</label>
                  <div class="mb-1">
                    <select formControlName="flagCtrl" [(ngModel)]="flag" class="form-control" name="flag" id="flag" #mySelect9 (change)="selectFlag(mySelect9.value)">
                      <option value="">Select Flag</option>
                      <option *ngFor="let flag of flags" [value]="flag.flag_label">
                        {{flag.flag_label}}</option>
                    </select>
                  </div>
                  </div>
                  <div *ngIf="bookingForm.controls['flagCtrl'].invalid && (bookingForm.controls['flagCtrl'].dirty || bookingForm.controls['flagCtrl'].touched)" class="alert alert-danger">
                    <div *ngIf="bookingForm.controls['flagCtrl'].errors.required">
                    Please select flag
                  </div>
                </div> 
                </div>
                <div class="col-md-3" style="padding-top: 25px;">
                  <button type="button" class="btn btn-success" (click)="update()">
                    <i data-feather="plus" class="align-middle me-sm-25 me-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Update</span>
                  </button>
                </div>
                <div class="col-md-3" style="padding-top: 25px;">
                  <button type="button" class="btn btn-primary" (click)="Back()">
                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Back</span>
                  </button>
                </div>
              </div>
            </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>